extends lauyout
h1 Criar Usuario
form(action="/usuario/dadosatualizados", method="post")
   
    label(for="email") E-mail:
    input(type="email", id="email", name="email", placeholder="Digite seu e-mail")
    p
    label(for="nick") Nick:
    input(type="password", id="senha", name="senha", placeholder="Digite sua senha")
    p
    button(type="submit" id="enviar", name="enviar") Enviar